In [ ]:
# to store the resulted data/collected data in permenant. (Fiels and database.)
#DBMS()
# sqlite3 DBMS
# this is an in-built software installed maxnimum number of operating systems
# but if you want to work with postgres, mysql, oracle. you have to install these dbms in your machine first.

In [1]:
import sqlite3
con = sqlite3.connect("db1.sqlite3")

In [2]:
cur = con.cursor()

In [3]:
q="create table customer(name varchar(250), age integer)"
cur.execute(q)

In [4]:
q="insert into customer values('jay',3)"
cur.execute(q)

In [5]:
con.commit()

In [1]:
#update
#delete

In [2]:
#import psycopg2: for postgres
#import mysqldb: for mysql
#import oracledb: for oracledb
#import mongo: for mongo

In [13]:
import psycopg2
import random
con = psycopg2.connect(database="batch77",user="postgres",password="root",host="localhost",port=5432)
cur = con.cursor()
q="create table if not exists customer(name varchar(250), age integer)"
cur.execute(q)
names=["samba","sai","murali","nithin","thrishwant","hari","sarthish"]
ages=[32,18,21,23,24,19]
for i in range(10):
    name = random.choice(names)
    age = random.choice(ages)
    q=f"insert into customer values('{name}',{age})"
    cur.execute(q)
con.commit()

In [3]:
import random
l=[10,12,34,56]
random.choice(l)

56

In [4]:
import random
l=[10,12,34,56]
random.choice(l)

12

In [5]:
import random
l=[10,12,34,56]
random.choice(l)

12

In [6]:
import random
l=[10,12,34,56]
random.choice(l)

12

In [7]:
import random
l=[10,12,34,56]
random.choice(l)

56

In [8]:
import random
l=[10,12,34,56]
random.choice(l)

10

In [9]:
import random
l=[10,12,34,56]
random.choice(l)

12

In [14]:
q="select * from customer"
cur.execute(q)

In [15]:
data = cur.fetchall()

In [16]:
print(data)

[('murali', 21), ('nithin', 21), ('thrishwant', 23), ('hari', 24), ('samba', 32), ('samba', 19), ('murali', 21), ('sarthish', 19), ('murali', 24), ('thrishwant', 32)]

In [18]:
q="select name,count(*) from customer group by(name)"
cur.execute(q)
print(cur.fetchall())

[('samba', 2), ('murali', 3), ('hari', 1), ('nithin', 1), ('thrishwant', 2), ('sarthish', 1)]

In [20]:
q="select name,count(*) as cnt from customer group by(name) order by(cnt) DESC "
cur.execute(q)
print(cur.fetchall())

[('murali', 3), ('samba', 2), ('thrishwant', 2), ('hari', 1), ('nithin', 1), ('sarthish', 1)]

In [22]:
name=input("Enter name:")
age=input("Enter age:")
q=f"insert into customer values('{name}',{age})"
cur.execute(q)
con.commit()

Enter name:user1
Enter age:24

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [23]:
con.close()

In [28]:
con = psycopg2.connect(database="batch77",user="postgres",password="root",host="localhost",port=5432)
cur = con.cursor()
name=input("Enter name:")
age=input("Enter age:")
q=f"insert into customer values('{name}',{age})"
cur.execute(q)
con.commit()

Enter name:user1
Enter age:34