In [1]:
name="lenovo think pad"
cost=7200
ram=12
harddisk=256
print(name,cost,ram,harddisk)

lenovo think pad 7200 12 256

In [2]:
name="lenovo think pad"
cost=7200
ram=12
harddisk=256
print(name,cost,ram,harddisk,sep="==>")

lenovo think pad==>7200==>12==>256

In [3]:
name="lenovo think pad"
cost=7200
ram=12
harddisk=256
# The laptop lenovo think pad cost is 7200 configuration: 12 GB RAM, 256 SSD drive.
print("The laptop lenovo think pad cost is 7200 configuration: 12 GB RAM, 256 SSD drive.")

The laptop lenovo think pad cost is 7200 configuration: 12 GB RAM, 256 SSD drive.

In [4]:
name="lenovo think pad"
cost=7200
ram=12
harddisk=256
# The laptop lenovo think pad cost is 7200 configuration: 12 GB RAM, 256 SSD drive.
print("The laptop "+ name +"cost is"+ cost +"configuration: "+ ram +" GB RAM, "+ harddisk +" SSD drive.")

TypeError: can only concatenate str (not "int") to str

In [5]:
name="lenovo think pad"
cost=7200
ram=12
harddisk=256
# The laptop lenovo think pad cost is 7200 configuration: 12 GB RAM, 256 SSD drive.
print("The laptop "+ name +"cost is"+ str(cost) +"configuration: "+ str(ram) +" GB RAM, "+ str(harddisk) +" SSD drive.")

The laptop lenovo think padcost is7200configuration: 12 GB RAM, 256 SSD drive.

In [6]:
name="lenovo think pad"
cost=7200
ram=12
harddisk=256
# The laptop lenovo think pad cost is 7200 configuration: 12 GB RAM, 256 SSD drive.
print("The laptop "+ name +"cost is"+ str(cost) +"configuration: "+ str(ram) +" GB RAM, "+ str(harddisk) +" SSD drive.")
print(f"The laptop lenovo think pad cost is 7200 configuration: 12 GB RAM, 256 SSD drive.") # templet strings/f srings

The laptop lenovo think padcost is7200configuration: 12 GB RAM, 256 SSD drive.
The laptop lenovo think pad cost is 7200 configuration: 12 GB RAM, 256 SSD drive.

In [8]:
name="lenovo think pad"
cost=7200
ram=12
harddisk=256
# The laptop lenovo think pad cost is 7200 configuration: 12 GB RAM, 256 SSD drive.
print("The laptop "+ name +"cost is"+ str(cost) +"configuration: "+ str(ram) +" GB RAM, "+ str(harddisk) +" SSD drive.")
print(f"The name cost is cost configuration: ram GB RAM, harddisk SSD drive.") # templet strings/f srings

The laptop lenovo think padcost is7200configuration: 12 GB RAM, 256 SSD drive.
The name cost is cost configuration: ram GB RAM, harddisk SSD drive.

In [9]:
name="lenovo think pad"
cost=7200
ram=12
harddisk=256
# The laptop lenovo think pad cost is 7200 configuration: 12 GB RAM, 256 SSD drive.
print("The laptop "+ name +"cost is"+ str(cost) +"configuration: "+ str(ram) +" GB RAM, "+ str(harddisk) +" SSD drive.")
print(f"The name {cost} is cost configuration: {ram} GB RAM, {harddisk} SSD drive.") # templet strings/f srings

The laptop lenovo think padcost is7200configuration: 12 GB RAM, 256 SSD drive.
The name 7200 is cost configuration: 12 GB RAM, 256 SSD drive.

In [11]:
name="lenovo think pad"
cost=7200
ram=12
harddisk=256
# The laptop lenovo think pad cost is 7200 configuration: 12 GB RAM, 256 SSD drive.
print("The laptop "+ name +"cost is"+ str(cost) +"configuration: "+ str(ram) +" GB RAM, "+ str(harddisk) +" SSD drive.")
print(f"The laptop {name} cost is {cost} configuration: {ram} GB RAM, {harddisk} SSD drive.") # templet strings/f srings

The laptop lenovo think padcost is7200configuration: 12 GB RAM, 256 SSD drive.
The laptop lenovo think pad cost is 7200 configuration: 12 GB RAM, 256 SSD drive.

In [12]:
name="lenovo think pad"
cost=7200
ram=12
harddisk=256
# The laptop lenovo think pad cost is 7200 configuration: 12 GB RAM, 256 SSD drive.
print("The laptop "+ name +"cost is"+ str(cost) +"configuration: "+ str(ram) +" GB RAM, "+ str(harddisk) +" SSD drive.")
print(f"The laptop {name} cost is {cost} configuration: {ram} GB RAM, {harddisk} SSD drive.") # templet strings/f srings
print("The laptop {name} cost is {cost} configuration: {ram} GB RAM, {harddisk} SSD drive.")

The laptop lenovo think padcost is7200configuration: 12 GB RAM, 256 SSD drive.
The laptop lenovo think pad cost is 7200 configuration: 12 GB RAM, 256 SSD drive.
The laptop {name} cost is {cost} configuration: {ram} GB RAM, {harddisk} SSD drive.

In [13]:
name="lenovo think pad"
cost=7200
ram=12
harddisk=256
# The laptop lenovo think pad cost is 7200 configuration: 12 GB RAM, 256 SSD drive.
print("The laptop "+ name +"cost is"+ str(cost) +"configuration: "+ str(ram) +" GB RAM, "+ str(harddisk) +" SSD drive.")
print(f"The laptop {name} cost is {cost} configuration: {ram} GB RAM, {harddisk} SSD drive.") # templet strings/f srings
print("The laptop {name} cost is {cost} configuration: {ram} GB RAM, {harddisk} SSD drive.")
# format specifiers
print("The laptop %s cost is %s configuration: %s GB RAM, %s SSD drive.",(name,cost,ram,harddisk))

The laptop lenovo think padcost is7200configuration: 12 GB RAM, 256 SSD drive.
The laptop lenovo think pad cost is 7200 configuration: 12 GB RAM, 256 SSD drive.
The laptop {name} cost is {cost} configuration: {ram} GB RAM, {harddisk} SSD drive.
The laptop %s cost is %s configuration: %s GB RAM, %s SSD drive. ('lenovo think pad', 7200, 12, 256)

In [14]:
name="lenovo think pad"
cost=7200
ram=12
harddisk=256
# The laptop lenovo think pad cost is 7200 configuration: 12 GB RAM, 256 SSD drive.
print("The laptop "+ name +"cost is"+ str(cost) +"configuration: "+ str(ram) +" GB RAM, "+ str(harddisk) +" SSD drive.")
print(f"The laptop {name} cost is {cost} configuration: {ram} GB RAM, {harddisk} SSD drive.") # templet strings/f srings
print("The laptop {name} cost is {cost} configuration: {ram} GB RAM, {harddisk} SSD drive.")
# format specifiers
print("The laptop %s cost is %s configuration: %s GB RAM, %s SSD drive.",(name,cost,ram,harddisk))
print("The laptop %s cost is %s configuration: %s GB RAM, %s SSD drive."%(name,cost,ram,harddisk))

The laptop lenovo think padcost is7200configuration: 12 GB RAM, 256 SSD drive.
The laptop lenovo think pad cost is 7200 configuration: 12 GB RAM, 256 SSD drive.
The laptop {name} cost is {cost} configuration: {ram} GB RAM, {harddisk} SSD drive.
The laptop %s cost is %s configuration: %s GB RAM, %s SSD drive. ('lenovo think pad', 7200, 12, 256)
The laptop lenovo think pad cost is 7200 configuration: 12 GB RAM, 256 SSD drive.

In [15]:
name="Jayaram"
age=4.5
weight=17.3467923
height=3.235347
print("The Jayaram is 4.5 years old has 17.35 kg weight and 3.24 fetts in height.")
print(f"The {name} is {age} years old has {weight} kg weight and {height} fetts in height.")

The Jayaram is 4.5 years old has 17.35 kg weight and 3.24 fetts in height.
The Jayaram is 4.5 years old has 17.3467923 kg weight and 3.235347 fetts in height.

In [16]:
name="Jayaram"
age=4.5
weight=17.3467923
height=3.235347
print("The Jayaram is 4.5 years old has 17.35 kg weight and 3.24 fetts in height.")
print(f"The {name} is {age} years old has {weight:.2f} kg weight and {height:.2f} fetts in height.")

The Jayaram is 4.5 years old has 17.35 kg weight and 3.24 fetts in height.
The Jayaram is 4.5 years old has 17.35 kg weight and 3.24 fetts in height.

In [17]:
name="Jayaram"
age=4.5
weight=17.3467923
height=3.235347
print("The Jayaram is 4.5 years old has 17.35 kg weight and 3.24 fetts in height.")
print(f"The {name} is {age} years old has {weight:.2f} kg weight and {height:.2f} fetts in height.")
print("The %s is %s years old has %f kg weight and %f fetts in height."%(name,age,weight,height))

The Jayaram is 4.5 years old has 17.35 kg weight and 3.24 fetts in height.
The Jayaram is 4.5 years old has 17.35 kg weight and 3.24 fetts in height.
The Jayaram is 4.5 years old has 17.346792 kg weight and 3.235347 fetts in height.

In [18]:
name="Jayaram"
age=4.5
weight=17.3467923
height=3.235347
print("The Jayaram is 4.5 years old has 17.35 kg weight and 3.24 fetts in height.")
print(f"The {name} is {age} years old has {weight:.2f} kg weight and {height:.2f} fetts in height.")
print("The %s is %s years old has %.2f kg weight and %.2f fetts in height."%(name,age,weight,height))

The Jayaram is 4.5 years old has 17.35 kg weight and 3.24 fetts in height.
The Jayaram is 4.5 years old has 17.35 kg weight and 3.24 fetts in height.
The Jayaram is 4.5 years old has 17.35 kg weight and 3.24 fetts in height.

In [19]:
name="Jayaram"
age=4.5
weight=17.3467923
height=3.235347
print("The Jayaram is 4.5 years old has 17.35 kg weight and 3.24 fetts in height.")
print(f"The {name} is {age} years old has {weight:.2f} kg weight and {height:.2f} fetts in height.")
print("The %s is %d years old has %.2f kg weight and %.2f fetts in height."%(name,age,weight,height))

The Jayaram is 4.5 years old has 17.35 kg weight and 3.24 fetts in height.
The Jayaram is 4.5 years old has 17.35 kg weight and 3.24 fetts in height.
The Jayaram is 4 years old has 17.35 kg weight and 3.24 fetts in height.

In [20]:
a=10.23
print("%d"%a)

10

In [21]:
a="10.23"
print("%d"%a)

TypeError: %d format: a number is required, not str

In [22]:
a="10"
print("%d"%a)

TypeError: %d format: a number is required, not str

In [23]:
a="10"
print(int(a))

10

In [24]:
a="10"
print("%d"%a)

TypeError: %d format: a number is required, not str

In [25]:
a=10
print("%s"%a)

10

In [26]:
a=10
print(str(a))

10

In [27]:
c=1+2j
print("%d"%c)

TypeError: %d format: a number is required, not complex

In [28]:
a=1000

In [ ]:
float a;
a=1000
print("%d"%a)

In [29]:
a=1000
print("%d"%a)

1000

In [30]:
a="1000"
print("%d"%a)

TypeError: %d format: a number is required, not str

In [31]:
"""
Today the hyderbad weather is cool
It may rain in an hour
"""
print("Today the hyderbad weather is cool")
print("It may rain in an hour")

Today the hyderbad weather is cool
It may rain in an hour

In [32]:
"""
Today the hyderbad weather is cool. It may rain in an hour
"""
print("Today the hyderbad weather is cool. It may rain in an hour")
print("It may rain in an hour")

Today the hyderbad weather is cool. It may rain in an hour
It may rain in an hour

In [33]:
"""
Today the hyderbad weather is cool. It may rain in an hour
"""
print("Today the hyderbad weather is cool",end=" ")
print("It may rain in an hour")

Today the hyderbad weather is cool It may rain in an hour

In [35]:
"""
Today the hyderbad weather is cool
It may rain in an hour
"""
print("Today the hyderbad weather is cool", end=". ")
print("It may rain in an hour")

Today the hyderbad weather is cool. It may rain in an hour

In [36]:
"""
Today the hyderbad weather is cool
It may rain in an hour
"""
print("Today the hyderbad weather is cool. It may rain in an hour")

Today the hyderbad weather is cool. It may rain in an hour

In [37]:
"""
Today the hyderbad weather is cool
It may rain in an hour
"""
print("Today the hyderbad weather is cool.\nIt may rain in an hour")

Today the hyderbad weather is cool.
It may rain in an hour

In [38]:
"""
Today the hyderbad weather is cool
It may rain in an hour
"""
print("Today the hyderbad weather is cool.\nIt may\train in an hour")

Today the hyderbad weather is cool.
It may	rain in an hour

In [39]:
print("\n\t")# space characters

In [40]:
print("\\n\\t")# space characters

\n\t

In [41]:
print("\\\n\\\t")# space characters

\
\

In [42]:
print("\\\\n\\\\t")# space characters

\\n\\t

In [43]:
s="sdsdf\nsdfsdf\tsddfdsfsd\nsdfsdfsd\nsddfdsfsd\tsdfdsfs\nsdfsdf\tsdfdsf\nsdfds\nsdfsd\ndsfsd\nsdfds\tsdfds\n"
print(s)

sdsdf
sdfsdf	sddfdsfsd
sdfsdfsd
sddfdsfsd	sdfdsfs
sdfsdf	sdfdsf
sdfds
sdfsd
dsfsd
sdfds	sdfds

In [44]:
s="sdsdf\\nsdfsdf\\tsddfdsfsd\\nsdfsdfsd\\nsddfdsfsd\\tsdfdsfs\\nsdfsdf\\tsdfdsf\\nsdfds\\nsdfsd\\ndsfsd\\nsdfds\\tsdfds\\n"
print(s)

sdsdf\nsdfsdf\tsddfdsfsd\nsdfsdfsd\nsddfdsfsd\tsdfdsfs\nsdfsdf\tsdfdsf\nsdfds\nsdfsd\ndsfsd\nsdfds\tsdfds\n

In [45]:
s=r"sdsdf\nsdfsdf\tsddfdsfsd\nsdfsdfsd\nsddfdsfsd\tsdfdsfs\nsdfsdf\tsdfdsf\nsdfds\nsdfsd\ndsfsd\nsdfds\tsdfds\n"
print(s)

sdsdf\nsdfsdf\tsddfdsfsd\nsdfsdfsd\nsddfdsfsd\tsdfdsfs\nsdfsdf\tsdfdsf\nsdfds\nsdfsd\ndsfsd\nsdfds\tsdfds\n